img.carousel-image{
    height: calc(var(--fullWidth) * 0.4);
    border-radius: 20px;
}
@media screen and (min-width: 750px) {
    img.carousel-image{
        height: calc(var(--fullWidth) * 0.4);
        border-radius: 20px;
    }
}  
h1.carousel-heading{
    font-family: "Playball";
    color: #0C2A50;
    font-weight: 500;
    font-size: 20px;
    width: 150px;
    padding: 0;
    margin-bottom: 15px;
}
div.carousel-caption{
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
buttons-container{
    display: flex; 
}
.watch-btn{
    padding: 0;
    width: 90px;
    height: 30px;
    background-color: #0C2A50;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    border-width: 0;
    margin-right: 5px;
}
.explore-btn{
    color: #0C2A50;
    padding: 0;
    width: 90px;
    height: 30px;
    background-color: transparent;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    border-width: 1px;
    border-color: #0C2A50;
    margin-left: 5px;
}
